/* body{
	background-color: #F1F1F1;
	background-image: url('../img/3.jpg');
}
*/

*, :after, :before {
	box-sizing: border-box;
}

/*选择器*/
.sign-up-msg{
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: #3d3d3d;
}

/*后代选择器*/
.sign-up-msg a{
	color: #3194d0;
}

.sign-up-msg a:hover{
	text-decoration: underline;
}

.sign {
	padding-top: 30px;
	background-image: url('../img/4.jpg');
	height: 100%;
	min-height: 1000px;
	text-align: center;
	font-size: 14px;
	background-color: #f1f1f1;
}

/*表单样式*/
.sign .main{
	background-color: #FFFFFF;
	width: 400px;
	padding: 10px 50px;
	margin: 0 auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: linear-gradient(to right bottom,
          rgba(255, 255, 255, .7),
          rgba(255, 255, 255, .5),
          rgba(255, 255, 255, .4));
	/* 使背景模糊化 */
	backdrop-filter: blur(10px);
	box-shadow: 0 0 20px #a29bfe;
	border-radius: 15px;
}

.sign .logo{
	position: absolute;
	top: 56px;
	left: 50px;
}


/*登录注册文字*/
.sign .title{
	margin: 30px auto 20px auto;
	padding: 10px;
	text-align: center;
}

.sign .title a{
	padding: 10px;
	color: #3d3d3d;
	font-size: 18px;
	transition: all .3s linear;
}

.sign .title a:hover{
	color: #3BB149;
}

.sign .title .active{
	font-weight: 700;
	color: #3BB149;
	border-bottom: 2px solid #3BB149;
}

.sign .title .active::after{
	width: 50%;
	border-bottom: 2px solid #3BB149;
}

.sign .title span{
	padding: 10px;
	color: #3d3d3d;
	font-weight: 700;
}

.sign form .input-prepend {
	position: relative;
	width: 100%;
}
.sign form .input-prepend input {
	width: 100%;
	height: 50px;
	padding: 4px 12px 4px 35px;
	border: 1px solid #3d3d3d;
	border-radius: 4px;
	background-color: hsla(0,0%,71%,.1);
	vertical-align: middle;
	color: #3d3d3d;
}

.sign form .input-prepend input::placeholder {
	color: #757575;
}

.sign form .restyle input {
	border-radius: 4px;
}

.sign form .input-prepend i {
	position: absolute;
	top: 4px;
	left: 10px;
	font-size: 18px;
	color: #3d3d3d;
}
.sign .sign-up-button{
	margin-top: 20px;
	width: 100%;
	padding: 9px 18px;
	font-size: 18px;
	border: none;
	border-radius: 25px;
	color: #FFFFFF;
	background-color: #42c02c;
	cursor: pointer;
	transition: all .2s linear;
	opacity: 0.8;
}
.sign .sign-up-button:hover {
	opacity: 1;
}

.sign .sign-in-button{
	margin-top: 20px;
	width: 100%;
	padding: 9px 18px;
	font-size: 18px;
	border: none;
	border-radius: 25px;
	color: #FFFFFF;
	background-color: #3194d0;
	cursor: pointer;
	transition: all .2s linear;
	opacity: 0.8;
}
.sign .sign-in-button:hover{
	opacity: 1;
}

.sign .more-sign {
	margin-top: 50px;
}

.sign .more-sign h6 {
	position: relative;
	margin: 0 0 10px;
	font-size: 12px;
	color: #3d3d3d;
}

.sign .more-sign h6:after, .sign .more-sign h6:before {
	content: "";
	border-top: 1px solid #3d3d3d;
	display: block;
	position: absolute;
	width: 60px;
	top: 5px;
}
.sign .more-sign h6:before {
	left: 30px;
}

.sign .more-sign h6:after {
	right: 30px;
}
.sign .more-sign h6:after, .sign .more-sign h6:before {
	content: "";
	border-top: 1px solid #3d3d3d;
	display: block;
	position: absolute;
	width: 60px;
	top: 5px;
}

.sign .more-sign ul {
	margin-bottom: 10px;
	list-style: none;
	padding-left: 0;
}

.sign .more-sign ul li {
	margin: 0 5px;
	display: inline-block;
}

.sign .more-sign ul a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
}
.sign .more-sign .icon-weixin {
	color: #00bb29;
	transition: all .3s linear;
}
.sign .more-sign .icon-weixin:hover{
	filter: brightness(1.2)
}
.sign .more-sign .icon-qq {
	color: #498ad5;
	transition: all .3s linear;
}
.sign .more-sign .icon-qq:hover {
	filter: brightness(1.2)
}
.sign .more-sign ul i {
	font-size: 28px;
}
.ic-wechat:before {
	content: "\E604";
}
.ic-qq_connect:before {
	content: "\E603";
}


